body{
    min-height: 100vh;
    margin: 0px;
}

header{
    background-color: #1F2937;
}

.section{
    background-color: #F9FAF6;
}

.light-grey {
    background-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
}