/* vars */
:root {
    --dark-color: #1F2937;
    --main-color: #F9FAF8;
    --secondary-color: #E5E7EB;
    --blue-color: #3882F6;
}


/* basic structure CSS */
body{
    min-height: 100vh;
    margin: 0px;
    font-family: sans-serif;
}

.row{
    display: flex;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.section{
    background-color: inherit var(--main-color);
    height: 90vh;
    display: flex;
    align-items: center;
}

.light-grey {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--dark-color);
}

a, a:visited{
    text-decoration: none;
    color: var(--secondary-color);
}

img {
    width: 100%;
    height: auto;
}

.col-2{
    width: 50%;
}

/* Header CSS 
*  --> Nav CSS
*/

header{
    background-color: var(--dark-color);
}

.logo{
    color: var(--main-color);
    font-size: 24px;
    display: flex;
    align-items: center;
}

.nav-links{
    margin-left: auto;
}

nav li {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
}

/* Header CSS
*  --> Small Splash section
*/
.hero-main-text{
    font-size: 48px;
    font-weight: extra-bold;
    color: var(--main-color);
    margin-bottom: 10px;
}

.hero-secondary-text{
    font-size: 18px;
    color: var(--secondary-color);
}

input[type=button]{
    background-color: var(--blue-color);
    color: var(--main-color);
    border: 0px;
    border-radius: 5px;
    padding: 7px 30px 7px 30px;
    font-size: 18px;
}